<@override name="css">
<link rel="stylesheet" type="text/css"
      href="/ucss/websitecss.css">
</@override> <@override name="main">

<!-- =====================content start===================== -->
<div class="web_header">
    ${time}
    <div>
        <a><img src="/uimg/loginico.png">Login</a>
    </div>
</div>
<div class="web_title">
    <img src="/uimg/logo.png">

    <div></div>
</div>

<!-- =====================content end===================== -->

</@override>
<@override name="js">


</@override> <@extends name="./common/master_user.html"/>
