
<@override name="css">

</@override> <@override name="main">
<!-- Slider -->
<div class="slider-container">
    <div class="slider">
        <div class="flexslider">
            <ul class="slides">
                <li>
                    <img src="/muassets/img/slider/3.jpg">
                    <div class="flex-caption">
                        Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit
                        lobortis nisl ut aliquip ex ea commodo consequat.
                    </div>
                </li>
                <li>
                    <img src="/muassets/img/slider/2.jpg">
                    <div class="flex-caption">
                        Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit
                        lobortis nisl ut aliquip ex ea commodo consequat.
                    </div>
                </li>
                <li>
                    <img src="/muassets/img/slider/1.jpg">
                    <div class="flex-caption">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.
                        Lorem ipsum dolor sit amet, consectetur.
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<!-- Presentation -->
<div class="presentation-container">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 wow fadeInLeftBig">
                <h1>This is <span class="colored-text">Gioia</span>, a Bootstrap business template.</h1>
                <p>
                    Download this theme <a href="http://azmind.com" target="_blank">from here</a> for free,
                    use it and customize it as you like.
                </p>
            </div>
        </div>
    </div>
</div>

<!-- Services -->
<div class="services-container">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="service wow fadeInUp">
                    <div class="service-icon"><span aria-hidden="true" class="icon_gift"></span></div>
                    <h3>Beautiful Websites</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et...</p>
                    <a class="big-link-1" href="services.html">Read more</a>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="service wow fadeInDown">
                    <div class="service-icon"><span aria-hidden="true" class="icon_mobile"></span></div>
                    <h3>Responsive Layout</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et...</p>
                    <a class="big-link-1" href="services.html">Read more</a>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="service wow fadeInUp">
                    <div class="service-icon"><span aria-hidden="true" class="icon_pencil"></span></div>
                    <h3>Awesome Logos</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et...</p>
                    <a class="big-link-1" href="services.html">Read more</a>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="service wow fadeInDown">
                    <div class="service-icon"><span aria-hidden="true" class="icon_printer-alt"></span></div>
                    <h3>High Res Prints</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et...</p>
                    <a class="big-link-1" href="services.html">Read more</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Latest work -->
<div class="work-container">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 work-title wow fadeIn">
                <h2>Our Latest Work</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="work wow fadeInUp">
                    <img src="/muassets/img/portfolio/work1.jpg" alt="Lorem Website" data-at2x="/muassets/img/portfolio/work1.jpg">
                    <h3>Lorem Website</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor...</p>
                    <div class="work-bottom">
                        <a class="big-link-2 view-work" href="/muassets/img/portfolio/work1.jpg"><span class="icon_search"></span></a>
                        <a class="big-link-2" href="portfolio.html"><span class="icon_link"></span></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="work wow fadeInDown">
                    <img src="/muassets/img/portfolio/work2.jpg" alt="Ipsum Logo" data-at2x="/muassets/img/portfolio/work2.jpg">
                    <h3>Ipsum Logo</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor...</p>
                    <div class="work-bottom">
                        <a class="big-link-2 view-work" href="/muassets/img/portfolio/work2.jpg"><span class="icon_search"></span></a>
                        <a class="big-link-2" href="portfolio.html"><span class="icon_link"></span></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="work wow fadeInUp">
                    <img src="/muassets/img/portfolio/work3.jpg" alt="Dolor Prints" data-at2x="/muassets/img/portfolio/work3.jpg">
                    <h3>Dolor Prints</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor...</p>
                    <div class="work-bottom">
                        <a class="big-link-2 view-work" href="/muassets/img/portfolio/work3.jpg"><span class="icon_search"></span></a>
                        <a class="big-link-2" href="portfolio.html"><span class="icon_link"></span></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="work wow fadeInDown">
                    <img src="/muassets/img/portfolio/work4.jpg" alt="Sit Amet Website" data-at2x="/muassets/img/portfolio/work4.jpg">
                    <h3>Sit Amet Website</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor...</p>
                    <div class="work-bottom">
                        <a class="big-link-2 view-work" href="/muassets/img/portfolio/work4.jpg"><span class="icon_search"></span></a>
                        <a class="big-link-2" href="portfolio.html"><span class="icon_link"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Testimonials -->
<div class="testimonials-container">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 testimonials-title wow fadeIn">
                <h2>Testimonials</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-10 testimonial-list wow fadeInLeft">
                <div role="tabpanel">
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade in active" id="tab1">
                            <div class="testimonial-image">
                                <img src="/muassets/img/testimonials/1.jpg" alt="" data-at2x="/muassets/img/testimonials/1.jpg">
                            </div>
                            <div class="testimonial-text">
                                <p>
                                    "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.
                                    Lorem ipsum dolor sit amet, consectetur..."<br>
                                    <a href="#">Lorem Ipsum, dolor.co.uk</a>
                                </p>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="tab2">
                            <div class="testimonial-image">
                                <img src="/muassets/img/testimonials/2.jpg" alt="" data-at2x="/muassets/img/testimonials/2.jpg">
                            </div>
                            <div class="testimonial-text">
                                <p>
                                    "Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip
                                    ex ea commodo consequat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit
                                    lobortis nisl ut aliquip ex ea commodo consequat..."<br>
                                    <a href="#">Minim Veniam, nostrud.com</a>
                                </p>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="tab3">
                            <div class="testimonial-image">
                                <img src="/muassets/img/testimonials/3.jpg" alt="" data-at2x="/muassets/img/testimonials/3.jpg">
                            </div>
                            <div class="testimonial-text">
                                <p>
                                    "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.
                                    Lorem ipsum dolor sit amet, consectetur..."<br>
                                    <a href="#">Lorem Ipsum, dolor.co.uk</a>
                                </p>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="tab4">
                            <div class="testimonial-image">
                                <img src="/muassets/img/testimonials/4.jpg" alt="" data-at2x="/muassets/img/testimonials/4.jpg">
                            </div>
                            <div class="testimonial-text">
                                <p>
                                    "Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip
                                    ex ea commodo consequat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit
                                    lobortis nisl ut aliquip ex ea commodo consequat..."<br>
                                    <a href="#">Minim Veniam, nostrud.com</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#tab1" aria-controls="tab1" role="tab" data-toggle="tab"></a>
                        </li>
                        <li role="presentation">
                            <a href="#tab2" aria-controls="tab2" role="tab" data-toggle="tab"></a>
                        </li>
                        <li role="presentation">
                            <a href="#tab3" aria-controls="tab3" role="tab" data-toggle="tab"></a>
                        </li>
                        <li role="presentation">
                            <a href="#tab4" aria-controls="tab4" role="tab" data-toggle="tab"></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-2 testimonial-icon wow fadeInUp">
                <div>
                    <span aria-hidden="true" class="icon_pushpin"></span>
                </div>
            </div>
        </div>
    </div>
</div>
</@override>
<@override name="js">
</@override> <@extends name="./common/master_h5_common.html"/>
