
<@override name="css">

</@override> <@override name="main">
<!-- Slider -->
<div class="slider-container">
    <div class="slider">
        <div class="flexslider">
            <ul class="slides">
                <li>
                    <img src="/muassets/img/slider/p3.jpg">
                    <div class="flex-caption">
                        产品3
                    </div>
                </li>
                <li>
                    <img src="/muassets/img/slider/p2.jpg">
                    <div class="flex-caption">
                        产品2
                    </div>
                </li>
                <li>
                    <img src="/muassets/img/slider/p1.jpg">
                    <div class="flex-caption">
                        产品1
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<!-- Presentation -->
<div class="presentation-container">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 wow fadeInLeftBig">
                <h1><span class="colored-text">世佳</span>义齿，专业为你</h1>
                <p>
                    让快乐微笑绽放你的魅力
                </p>
            </div>
        </div>
    </div>
</div>

<!-- Services -->
<!--<div class="services-container">-->
    <!--<div class="container">-->
        <!--<div class="row">-->
            <!--<div class="col-sm-3">-->
                <!--<div class="service wow fadeInUp">-->
                    <!--<div class="service-icon"><span aria-hidden="true" class="icon_gift"></span></div>-->
                    <!--<h3>Beautiful Websites</h3>-->
                    <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et...</p>-->
                    <!--<a class="big-link-1" href="services.html">Read more</a>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="col-sm-3">-->
                <!--<div class="service wow fadeInDown">-->
                    <!--<div class="service-icon"><span aria-hidden="true" class="icon_mobile"></span></div>-->
                    <!--<h3>Responsive Layout</h3>-->
                    <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et...</p>-->
                    <!--<a class="big-link-1" href="services.html">Read more</a>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="col-sm-3">-->
                <!--<div class="service wow fadeInUp">-->
                    <!--<div class="service-icon"><span aria-hidden="true" class="icon_pencil"></span></div>-->
                    <!--<h3>Awesome Logos</h3>-->
                    <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et...</p>-->
                    <!--<a class="big-link-1" href="services.html">Read more</a>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="col-sm-3">-->
                <!--<div class="service wow fadeInDown">-->
                    <!--<div class="service-icon"><span aria-hidden="true" class="icon_printer-alt"></span></div>-->
                    <!--<h3>High Res Prints</h3>-->
                    <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et...</p>-->
                    <!--<a class="big-link-1" href="services.html">Read more</a>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

<!-- Latest work -->
<div class="work-container">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 work-title wow fadeIn">
                <h2>Our Latest Work</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="work wow fadeInUp">
                    <img src="/muassets/img/portfolio/work1.jpg" alt="Lorem Website" data-at2x="/muassets/img/portfolio/work1.jpg">
                    <h3>Lorem Website</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor...</p>
                    <div class="work-bottom">
                        <a class="big-link-2 view-work" href="/muassets/img/portfolio/work1.jpg"><span class="icon_search"></span></a>
                        <a class="big-link-2" href="portfolio.html"><span class="icon_link"></span></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="work wow fadeInDown">
                    <img src="/muassets/img/portfolio/work2.jpg" alt="Ipsum Logo" data-at2x="/muassets/img/portfolio/work2.jpg">
                    <h3>Ipsum Logo</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor...</p>
                    <div class="work-bottom">
                        <a class="big-link-2 view-work" href="/muassets/img/portfolio/work2.jpg"><span class="icon_search"></span></a>
                        <a class="big-link-2" href="portfolio.html"><span class="icon_link"></span></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="work wow fadeInUp">
                    <img src="/muassets/img/portfolio/work3.jpg" alt="Dolor Prints" data-at2x="/muassets/img/portfolio/work3.jpg">
                    <h3>Dolor Prints</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor...</p>
                    <div class="work-bottom">
                        <a class="big-link-2 view-work" href="/muassets/img/portfolio/work3.jpg"><span class="icon_search"></span></a>
                        <a class="big-link-2" href="portfolio.html"><span class="icon_link"></span></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="work wow fadeInDown">
                    <img src="/muassets/img/portfolio/work4.jpg" alt="Sit Amet Website" data-at2x="/muassets/img/portfolio/work4.jpg">
                    <h3>Sit Amet Website</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor...</p>
                    <div class="work-bottom">
                        <a class="big-link-2 view-work" href="/muassets/img/portfolio/work4.jpg"><span class="icon_search"></span></a>
                        <a class="big-link-2" href="portfolio.html"><span class="icon_link"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Testimonials -->
<div class="testimonials-container">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 testimonials-title wow fadeIn">
                <h2>医师问答</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-10 testimonial-list wow fadeInLeft">
                <div role="tabpanel">
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade in active" id="tab1">
                            <div class="testimonial-image">
                                <img src="/muassets/img/testimonials/1.jpg" alt="" data-at2x="/muassets/img/testimonials/1.jpg">
                            </div>
                            <div class="testimonial-text">
                                <p>
                                    <a href="#">为什么要洗牙？</a><br>
                                    "沉积在牙齿上的牙石、烟斑、菌斑和色渍，很不美观，更易引起牙周病和口臭，但日常刷牙是刷不掉的，这就需要牙医用专用器械将它洗除干净，称为洗牙。"
                                </p>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="tab2">
                            <div class="testimonial-image">
                                <img src="/muassets/img/testimonials/2.jpg" alt="" data-at2x="/muassets/img/testimonials/2.jpg">
                            </div>
                            <div class="testimonial-text">
                                <p>
                                    <a href="#">用什么设备洗牙？</a><br/>
                                    "有超声波洁治器，喷砂洁治器和手工洁治器三种。如果仅有牙石，则用超声波洁治器就可。如果牙石少色渍多，则选用喷砂。如果牙石色渍均多，则建议超声波和喷砂联合使用。对于龈下牙石多的，牙周情况差的，主张在做完超声波洁治一周后手工刮治术。这样效果会更好一些。"<br>

                                </p>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="tab3">
                            <div class="testimonial-image">
                                <img src="/muassets/img/testimonials/3.jpg" alt="" data-at2x="/muassets/img/testimonials/3.jpg">
                            </div>
                            <div class="testimonial-text">
                                <p>
                                    <a href="#">为什么好多人都说洗牙不好？</a><br/>
                                    "洗牙对牙齿的损伤是相当轻微的。相对于保护牙齿的健康，那一点小的损伤是可以忽略不计的，就象我们没有必要担心洗碗会将碗洗薄一样。但是，洗牙的方法很重要。选择医生和洁牙助理很重要。对于超声波洁牙，关键是超声波振头与牙面的角度控制，且不能在同一个点震动过久，另外要控制好洁牙机的功率。操作者的手势要轻柔。如果动作粗暴不损伤牙齿是假的。"<br>

                                </p>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="tab4">
                            <div class="testimonial-image">
                                <img src="/muassets/img/testimonials/4.jpg" alt="" data-at2x="/muassets/img/testimonials/4.jpg">
                            </div>
                            <div class="testimonial-text">
                                <p>
                                    <a href="#">刚洗牙之后要注意什么？</a><br/>
                                    "短期内别吃太硬的食物，少接触过冷、过热食物，使牙齿有个适应过程，松或酸的症状就会有所缓解的。(根据具体情况而定。对于那些在洗牙过程中无任何不适的人，洗完牙一般无明显饮食上的顾虑。注意少饮用酸性饮料如可口可乐，有色食品或抽烟。)"<br>

                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#tab1" aria-controls="tab1" role="tab" data-toggle="tab"></a>
                        </li>
                        <li role="presentation">
                            <a href="#tab2" aria-controls="tab2" role="tab" data-toggle="tab"></a>
                        </li>
                        <li role="presentation">
                            <a href="#tab3" aria-controls="tab3" role="tab" data-toggle="tab"></a>
                        </li>
                        <li role="presentation">
                            <a href="#tab4" aria-controls="tab4" role="tab" data-toggle="tab"></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-2 testimonial-icon wow fadeInUp">
                <div>
                    <span aria-hidden="true" class="icon_pushpin"></span>
                </div>
            </div>
        </div>
    </div>
</div>
</@override>
<@override name="js">
</@override> <@extends name="./common/master_h5_common.html"/>
