/*
  首页的登录链接模块的样式

*/
html,body{
    width: 100%;
    height: 100%;
}

@font-face {
    font-family: 'Merienda-Regular';
    src: url(../fonts/Merienda-Regular.ttf)format('truetype');
}


.mainPageBody{
    background-image: url(/uimg/backgroudimg.jpg);
    background-size: cover;
    background-attachment: fixed;
}
.mainPageHeader{
    height: 700px;
    width: 100%;
    background: rgba(66, 64, 64, 0.9);
    position: relative;
}
.logo{
    height: 60px;
    margin-top: 40px;
    position: relative;
    float: left;
}
.logo img{
    position: relative;
    height: 100%;
}
#userLogo{
    right: -30px;
    position: absolute;
    height: 100%;
    line-height: 60px;
}
#userLogo>a>span{
    color: rgba(255, 255, 255, 0.5);
}
#userLogo>a:hover>span{
    color: #fff;
}
.mp_menu-wrap{
    position: relative;
    display: block;
    float: right;
    margin-top: 40px;
}
.mp_menu{
    margin: 0;
    padding: 0;
    list-style: none;
}
.mp_menu li{
    white-space: nowrap;
    -webkit-transition: background .2s;
    transition: background .2s;
    list-style-type: none;
}
.mp_menu>li{
    position: relative;
    float: left;
}
.mp_menu>li>a{
    display: block;
    text-decoration: none;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    color: rgba(255, 255, 255, 0.5);
    padding: 0.75em 0.5em;
    font-weight: normal;
    border:none;
    font-size: 18px;
    position: relative;
    margin-bottom: 0px;
    height: 60px;
}
.active>a{
    color: #fff !important;
}
.mp_menu>li>a:hover{
    color: #fff;
}
.mp_sub_menu{
    width: 180px;
    position: absolute;
    padding: 15px 0px 15px;
    display: none;
    background: #fff;
    left: 0;
    -webkit-transition: 0.5s ease-out;
    -moz-transition: 0.5s ease-out;
    -o-transition: 0.5s ease-out;
    transition: 0.5s ease-out;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
    -ms-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
    -o-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
    z-index: 9999;
}

.mp_sub_menu:after{
    position: absolute;
    top: -8px;
    left: 21px;
    width: 0;
    height: 0;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #fff;
    border-bottom: 8px solid white;
    border-left: 8px solid transparent;
    content: '';
}

.mp_sub_menu>li{
    position: relative;
}
.mp_sub_menu a{
    display: block;
    position: relative;
    color: #575757;
    padding: 0.5em 1em;
    font-weight: normal;
    border-left: none;
    border-top: none;
    border-top: none;
    text-decoration: none;
    zoom: 1;
    font-size: 18px;
    border-bottom: none ;
    letter-spacing: 1px;
}
.mp_sub_menu a:hover{
    color: #4cc2c4;
}

.mp_header{
    margin-top: 200px;
    text-align: center;
}

.mp_header>h1{
    font-size: 70px;
    line-height: 87px;
    font-weight: 100;
    color: white;
    font-family: 'Merienda-Regular';
}
.mp_header>h2{
    font-size: 30px;
    line-height: 30px;
    font-weight: 100;
    color: white;
}
.mp_header>a{
    background: #4cc2c4;
    width: 100px;
    margin: 0 auto;
    margin-top: 50px;
    color: white;
    font-size: 18px;
}
.mp_header>a:hover{
   background: #51f9f9;
}


.mainPageContent{
    background: #fff
}

/*

底部信息样式


*/
.footer{
    width:100%;
    height:auto;
    background: #333;
}
.footer>div{
    width:90%;
    margin: 0 auto;
}
.footer>.foottitle{
    height: 80px;
}
.footer>.content{
    height: 350px;
    border-bottom: 3px solid #272727;
    border-top: 3px solid #272727;
    padding:10px 50px;
}
.footer>.content>.ewm{
    height:100%;
    width: 210px;
    float:left;
}
/*.footer>.content>.ewm>div{*/
    /*width: 100%;*/
    /*height:60px;*/
    /*border-bottom: 3px solid #4cc2c4;*/
/*}*/
/*.footer>.content>.ewm>div>span{*/
    /*color:#a8a8a8;*/
    /*font-size: 20px;*/
    /*display: block;*/
    /*width: 100%;*/

/*}*/
.footer>.content>.ewm>img{
    width: 180px;
    height: 180px;
    margin: 10px auto;
    display: block;
}

@media screen and (max-width: 1366px){
    .footer>.content>.aboutus{
        height:100%;
        width: 33%;
        float:left;
        margin-left: 30px;
    }

    .footer>.content>.contactus{
        height:100%;
        width: 38%;
        float:left;
        margin-left: 30px;
    }
}
@media screen and (width: 1366px){
    .footer>.content>.aboutus{
        height:100%;
        width: 34%;
        float:left;
        margin-left: 30px;
    }

    .footer>.content>.contactus{
        height:100%;
        width: 40%;
        float:left;
        margin-left: 30px;
    }
}
@media screen and (min-width: 1400px){
    .footer>.content>.aboutus{
        height:100%;
        width: 35%;
        float:left;
        margin-left: 30px;
    }

    .footer>.content>.contactus{
        height:100%;
        width: 41%;
        float:left;
        margin-left: 30px;
    }
}
@media screen and (max-width: 1280px){
    .footer>.content>.aboutus{
        height:100%;
        width: 32%;
        float:left;
        margin-left: 30px;
    }

    .footer>.content>.contactus{
        height:100%;
        width: 36%;
        float:left;
        margin-left: 30px;
    }
}
.footer>.content>div>div{
    width: 100%;
}
.footer>.content>div>div:first-child{
    border-bottom: 3px solid #4cc2c4;
}
.footer>.content>div>div:first-child>span{
    color:#a8a8a8;
    font-size: 20px;
    display: block;
    width: 100%;

}
.footer>.content>.aboutus>div>.mc,.footer>.content>.contactus>div>.mc{
    color: #a8a8a8;
    display: block;
}





.footer>.foottail{
    height: 60px;
}



/**************************end*******************/

/******login页 begin**********************/

.Lg_header{
    height: 60px;
    width: 100%;
    margin: 0 auto;
    width:80%;
}

.Lg_content{
    width: 80%;
    height: 500px;
    margin: 0 auto;
 }
.Lg_content>.Lg_part{
    float:right ;
    background: rgba(76, 194, 196, 0.81);
    height: 100%;
    width:40%;
    padding: 20px 40px;
    min-width: 300px;
}
.Lg_content>.Lg_part>div{
    width: 100%;
    height: 100%;

}
.Lg_part_title{
    width: 100%;
    height: 30px;
    margin-bottom: 2em;
    line-height: 30px;
}
.Lg_part_title>h2{
    color: #ffee2b;
}


.input_div{
    width: 100%;
    height: 50px;
    margin-bottom: 1.5em;
    line-height: 50px;
}
.input_div>span{
    display: block;
    width: 10%;
    height: 100%;
    background: inherit;
    float: left;
    font-size: 18px;
    line-height: 50px;
    text-align: center;
    color: #fff;
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
    border-right: 0px;
    border-left: 1px solid #fff;
    top:0px !important;
}
.input_div>input[type="text"],.input_div>input[type="password"]{
    width: 90%;
    height: 100%;
    background:none;
    float: left;
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    border-left: 0px;
    padding:8px 5px 8px 0px;
    color: #fff;
    font-size: 18px;
    outline:none;
}
.yzminput_div{
    width: 100%;
    height: 40px;
    margin-bottom: 1.5em;
    line-height: 40px;
}
.yzminput_div>.yzm{
    width: 90px;
    height: 100%;
    background:none;
    float: left;
    border: 1px solid #fff;
    padding:8px 15px;
    color: #fff;
    font-size: 18px;
    outline:none;
    margin-right: 20px;
}
.yzminput_div>img{
    height: 40px;
    width: 120px;
    margin: 0 auto;
    cursor: pointer;
}
.input_submit_div{
    width: 100%;
    height: 40px;
    margin-bottom: 1.5em;
    line-height: 40px;
}
.input_submit_div>input[type="submit"]{
    background: #fff;
    font-size: 18px;
    border: none;
    outline: none;
    color: #000;
    padding: 10px 0;
    width: 40%;
    font-family: Consolas;
    line-height:normal;

    display: block;
    transition: .5s all;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    -o-transition: .5s all;
    -ms-transition: .5s all;
    float: left;
}
.input_submit_div>input[type="submit"]:hover{
    background-color: #F54785;
    color: #fff;
}
.input_submit_div>.checkbox_div{
    width: auto;
    height: 100%;
    float: left;
    margin-left: 10px;
    padding-top:20px;
}
.forgotpwd_div{
    width: auto;
    height: 100%;
    float: left;
    padding-top:20px;
}
.forgotpwd_div>a{
    display: block;
    width: auto;
    height: 20px;
    text-decoration:none;
    line-height: 20px;
    margin-left: 3px;

}
.forgotpwd_div>a:hover{
    color: #F54785;
}


.header_on{
    width: 100%;
    height: 50px;
    min-width: 1024px;
    background: rgba(255,255,255,0.9);
    position: fixed;
    top: 0px;
    box-shadow: 0 0 3px #b0b0b0;
    z-index: 9999;
}
.header_on>img{
    float: left;
    width:40px;
    height:50px;
    margin-left: 60px;
}
.header_on>div{
    float: right;
    height: inherit;
    line-height: 50px;
    margin-right: 60px;

}
.header_on>div>a{
    outline: none;
    text-decoration: none;
    color: #000;
    font-size: 16px;
    text-align: center;
    width: 80px;
    display: block;
    height: inherit;
    float: left;
    transition: 0.3s ease;
    -o-transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    font-family: "微软雅黑";

}
.header_on>div>a:first-child{
    width: 50px;
}
.header_on>div>a:hover{
    color: #4cc2c4;
}
.common_wrap{
    width: 100%;
    height: 100%;
    position:relative;
    transition: transform 1s cubic-bezier(0.86,0,0.03,1);
    -webkit-transition: -webkit-transform 1s cubic-bezier(0.86,0,0.03,1);
    display: block;
    animation-fill-mode : forwards;
    -webkit-animation-fill-mode : forwards;
}

.common_div{
    width: 100%;
    height: 100%;
    position:relative;
    display: block;
}

.put-section-0{ transform:translateY(0);-webkit-transform:translateY(0);}
.put-section-1{ transform:translateY(-100%);-webkit-transform:translateY(-100%);}
.put-section-2{ transform:translateY(-200%);-webkit-transform:translateY(-200%);}
.put-section-3{ transform:translateY(-300%);-webkit-transform:translateY(-300%);}
.put-section-4{ transform:translateY(-400%);-webkit-transform:translateY(-400%);}
.put-section-5{ transform:translateY(-500%);-webkit-transform:translateY(-500%);}
