/*
  首页的登录链接模块的样式

*/
body{
    min-width: 1080px;
}
.web_header{
    height:25px;
    wight:100%;
    background: #9f07f7;
    position:relative;
}
.web_header>div:first-child{
    left: 5%;
    color: #fff;
    line-height: 25px;
    position: absolute;
    font-family: 微软雅黑;
    font-size: 14px;
}
.web_header>div:last-child{
    position:absolute;
    right:40px;
    width:auto;
    height:100%
}
.web_header>div>a{
    display: block;
    height: inherit;
    width:auto;
    color:#fff;
    line-height:25px;
    text-decoration: none;
    margin-right: 10px;
    float: left;
}
.web_header>div>a:hover{ cursor: pointer;color:yellow;}
.web_header>div>a>img{ width: 18px;height:18px;margin-right:5px;}

/**
 首页的标题导航的样式
*/
.web_title{
    width:90%;
    height:120px;
    margin:0px auto;
    padding:25px 0px;
    position: relative;
}
.web_title>img{ width: 240px;height:70px;}
.web_title>div{
    float: right;
    height: 100%;
    width: auto;
    padding:20px 0px;
}

.web_title>div>a{
    display: block;
    height: 30px;
    width: 90px;
    float: left;
    font-family: 微软雅黑;
    font-size: 18px;
    text-decoration: none;
    text-align: center;
    color: #9f07f7;
    margin-left: 10px;
    cursor: pointer;
    line-height: 30px;
}
.web_title>div>a:hover{ color: #fff;background: #9f07f7; border-radius:3px;}
.alive{color: #fff !important; background: #9f07f7; border-radius:3px;}














/*

底部信息样式


*/
.footer{
    width:100%;
    height:auto;
    background: #333;
}
.footer>div{
    width:90%;
    margin: 0 auto;
}
.footer>.foottitle{
    height: 80px;
}
.footer>.content{
    height: 300px;
    border-bottom: 3px solid #272727;
    border-top: 3px solid #272727;
    padding:10px 50px;
}
.footer>.content>.ewm{
    height:100%;
    width: 210px;

    float:left;
}
.footer>.content>.ewm>div{
    width: 100%;
    height:60px;
    border-bottom: 3px solid #9f07f7;
}
.footer>.content>.ewm>div>span{
    color:#a8a8a8;
    font-size: 20px;
    display: block;
    width: 100%;

}
.footer>.content>.ewm>img{
    width: 180px;
    height: 180px;
    margin: 10px auto;
    display: block;
}
.footer>.foottail{
    height: 40px;
}