<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>上海世佳义齿</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/shijiaweb/selfcss/websitecss.css" />
    <script src="/js/"></script>
</head>
<body style="margin: 0px 0px">
    <div  class="web_header">
        ${time}
        <div>
            <a><img src="/shijiaweb/img/loginico.png">Login</a>
        </div>
    </div>
    <div class="web_title">
        <img src="/shijiaweb/img/logo.png">
        <div></div>
    </div>


</body>
</html>