<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shijia.web.repository.mapper.INewDAO">

    <resultMap id="NewsShowMap" type="com.shijia.web.repository.mapper.domain.NewsShow">
        <result property="id" column="id"/>
        <result property="newsName" column="news_name"/>
        <result property="newsType" column="news_type"/>
        <result property="comefrom" column="comefrom"/>
        <result property="author" column="author"/>
        <result property="content" column="content"/>
        <result property="showCount" column="show_count"/>
        <result property="createTime" column="createtime"/>
        <result property="lastModifyTime" column="lastmodifytime"/>
        <result property="isDelete" column="is_delete"/>
    </resultMap>

    <sql id="Sql_Base_Table_Name">
        `news_show`
    </sql>

    <!-- create -->
    <insert id="addNewsShow" parameterType="com.shijia.web.repository.mapper.domain.NewsShow">
        INSERT INTO
        <include refid="Sql_Base_Table_Name"/>
        (news_name,news_type,comefrom,author,content,show_count,createtime,lastmodifytime)
        VALUES
        (#{newsName},#{newsType},#{comefrom},#{author},#{content},#{showCount},#{createTime},
        #{lastModifyTime})
    </insert>
    <!-- select -->
    <select id="getNewsByPageAndTypeContainDelete" parameterType="int"
            resultMap="NewsShowMap">
        select
        id,news_name,news_type,comefrom,author,content,show_count,createtime,lastmodifytime,is_delete
        from
        <include refid="Sql_Base_Table_Name"/>
        where
        news_type=#{2}
        limit #{0},#{1}
    </select>
    <select id="getNewsById" parameterType="int" resultMap="NewsShowMap">
        SELECT * FROM
        <include refid="Sql_Base_Table_Name"/>
        WHERE
        id=#{0}
    </select>
    <select id="getTotalCountByTypeId" parameterType="int" resultType="int">
        select count(*)
        from
        <include refid="Sql_Base_Table_Name"/>
        where
        news_type=#{0}
    </select>
    <!-- update -->
    <update id="updateNewsShow" parameterType="com.shijia.web.repository.mapper.domain.NewsShow">
        UPDATE
        <include refid="Sql_Base_Table_Name"/>
        SET
        news_name=#{newsName},
        news_type=#{newsType},
        comefrom=#{comefrom},
        author=#{author},
        content=#{content},
        lastmodifytime=#{lastModifyTime}
        WHERE id=#{id}
    </update>

    <update id="delOpeNewsShowById" parameterType="int">
        UPDATE
        <include refid="Sql_Base_Table_Name"/>
        SET
        is_delete = #{0}
        WHERE
        id=#{1}
    </update>

    <select id="getAllNewsSimple" resultMap="NewsShowMap">
        SELECT
        id,news_name,news_type,comefrom
        FROM
        <include refid="Sql_Base_Table_Name"/>
        where
        is_delete=0
        order by
        createtime desc
    </select>
</mapper>