<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shijia.web.repository.mapper.IProductTypeDAO">

    <resultMap id="ProductTypeMap" type="com.shijia.web.repository.mapper.domain.ProductType">
        <result property="id" column="id"/>
        <result property="siteId" column="site_id"/>
        <result property="parentTypeId" column="parent_type_id"/>
        <result property="parentTypeName" column="parent_type_name"/>
        <result property="typeId" column="type_id"/>
        <result property="typeName" column="type_name"/>
        <result property="createTime" column="createtime"/>
        <result property="lastModifyTime" column="lastmodifytime"/>
        <result property="lastModifyPeople" column="lastmodifypeople"/>
    </resultMap>

    <sql id="Sql_Base_Table_Name">
        `product_type`
    </sql>

    <!-- create -->
    <insert id="addProductType" parameterType="com.shijia.web.repository.mapper.domain.ProductType">
        INSERT INTO
        <include refid="Sql_Base_Table_Name"/>
        (site_id,parent_type_id,parent_type_name,type_name,type_id,createtime,lastmodifytime,lastmodifypeople)
        VALUES
        (#{siteId},#{parentTypeId},#{parentTypeName},#{typeName},#{typeId},#{createTime},#{lastModifyTime},#{lastModifyPeople})
    </insert>
    <!-- select -->
    <select id="getProductTypeAll" resultMap="ProductTypeMap">
        select
        id,site_id,parent_type_id,parent_type_name,type_id,type_name,createtime,lastmodifytime,lastmodifypeople
        from
        <include refid="Sql_Base_Table_Name"/>
        WHERE
        site_id=#{0}
    </select>
    <!-- update -->

</mapper>