<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shijia.web.repository.mapper.IUserInfoDAO">

    <resultMap id="userResultMap" type="com.shijia.web.repository.mapper.domain.UserInfo">
        <result property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="nickname" column="nickname"/>
        <result property="realName" column="real_name"/>
        <result property="phone" column="phone"/>
        <result property="email" column="email"/>
        <result property="password" column="password"/>
        <result property="sex" column="sex"/>
        <result property="accountType" column="account_type"/>
        <result property="createTime" column="create_time"/>
        <result property="lastLoginTime" column="last_login_time"/>
    </resultMap>

    <sql id="Sql_Base_Table_Name">
        user_info
    </sql>

    <!-- 通过三个维度获取用户信息 -->
    <select id="getUserInfoByValue" parameterType="java.util.Map" resultMap="userResultMap">
        SELECT * FROM
        <include refid="Sql_Base_Table_Name"/>
        WHERE
        <if test="type == 1">
            user_id=#{value}
        </if>
        <if test="type == 2">
            phone=#{value}
        </if>
        <if test="type == 3">
            email=#{value}
        </if>
    </select>

    <select id="getUserInfoAllDim" parameterType="string" resultMap="userResultMap">
        SELECT * FROM
        <include refid="Sql_Base_Table_Name"/>
        WHERE
        user_id=#{0} OR phone=#{0} OR email=#{0}
    </select>
    
    <!-- 插入一个新用户 -->
    <insert id="insertNewUser" parameterType="com.shijia.web.repository.mapper.domain.UserInfo">
        INSERT INTO
        <include refid="Sql_Base_Table_Name"/>
        (user_id,nickname,real_name,phone,email,password,sex,account_type,create_time)
        VALUES
        (#{userId},#{nickname},#{realName},#{phone},#{email},#{password},#{sex},#{accountType},#{createTime})
    </insert>


</mapper>