<!DOCTYPE html>
<html>
<@block name="include"></@block>

<head>
    <meta charset="utf-8" />
    <title>世佳义齿后台管理系统 - www.shijia.com</title>
    <meta name="keywords" content="世佳义齿后台管理系统" />
    <meta name="description" content="世佳义齿后台管理系统" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- basic styles -->

    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css" />

    <!--[if IE 7]>
    <link rel="stylesheet" href="/assets/css/font-awesome-ie7.min.css" />

    <![endif]-->

    <!-- page specific plugin styles -->
    <link rel="stylesheet" href="/assets/css/ace-skins.min.css" />
    <link rel="stylesheet" href="/assets/css/jquery-ui-1.10.3.custom.min.css" />

    <!-- ace styles -->

    <link rel="stylesheet" href="/assets/css/ace.min.css" />
    <link rel="stylesheet" href="/assets/css/ace-rtl.min.css" />

    <!--[if lte IE 8]>
    <link rel="stylesheet" href="/assets/css/ace-ie.min.css" />
    <![endif]-->

    <!-- inline styles related to this page -->
    <!-- ace settings handler -->

    <script src="/assets/js/ace-extra.min.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

    <!--[if lt IE 9]>
    <script src="/assets/js/html5shiv.js"></script>
    <script src="/assets/js/respond.min.js"></script>
    <![endif]-->
    <@block name="css"></@block>
</head>
<body>
<div class="navbar navbar-default" id="navbar">
    <script type="text/javascript">
        try{ace.settings.check('navbar' , 'fixed')}catch(e){}
    </script>

    <div class="navbar-container" id="navbar-container">
        <div class="navbar-header pull-left">
            <a href="#" class="navbar-brand">
                <small>
                    <i class="icon-leaf"></i>
                    世佳义齿后台管理系统
                </small>
            </a><!-- /.brand -->
        </div><!-- /.navbar-header -->

        <div class="navbar-header pull-right" role="navigation">
            <ul class="nav ace-nav">
                <li class="light-blue">
                    <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                        <img class="nav-user-photo" src="/assets/avatars/user.jpg" alt="${member.nickName}'s Photo" />
								<span class="user-info">
									<small>欢迎光临,</small>
                                    ${member.nickName}
								</span>

                        <i class="icon-caret-down"></i>
                    </a>

                    <ul class="user-menu pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">

                        <li class="divider"></li>

                        <li>
                            <a href="#">
                                <i class="icon-off"></i>
                                退出
                            </a>
                        </li>
                    </ul>
                </li>
            </ul><!-- /.ace-nav -->
        </div><!-- /.navbar-header -->
    </div><!-- /.container -->
</div>

<div class="main-container" id="main-container">
    <script type="text/javascript">
        try{ace.settings.check('main-container' , 'fixed')}catch(e){}
    </script>

    <div class="main-container-inner">
        <a class="menu-toggler" id="menu-toggler" href="#">
            <span class="menu-text"></span>
        </a>

        <div class="sidebar" id="sidebar">
            <script type="text/javascript">
                try{ace.settings.check('sidebar' , 'fixed')}catch(e){}
            </script>
            <ul class="nav nav-list">
                <li class="active">
                    <a href="/web/admin/index">
                        <i class="icon-dashboard"></i>
                        <span class="menu-text"> 控制台 </span>
                    </a>
                </li>
                <li>
                    <a href="/web/admin/productshow">
                        <i class="icon-magic"></i>
                        <span class="menu-text"> 产品展示 </span>
                    </a>
                </li>
                <li>
                    <a href="/web/admin/newsmanager" class="dropdown-toggle">
                        <i class="icon-list-alt"></i>
                        <span class="menu-text"> 新闻动态 </span>
                    </a>
                </li>

                <!--<li>-->
                    <!--<a href="/web/admin/querymanager">-->
                        <!--<i class="icon-search"></i>-->
                        <!--<span class="menu-text"> 查询系统 </span>-->
                    <!--</a>-->
                <!--</li>-->

                <!--<li>-->
                    <!--<a href="/web/admin/usermanager.html">-->
                        <!--<i class="icon-user-md"></i>-->
                        <!--<span class="menu-text"> 用户管理 </span>-->
                    <!--</a>-->
                <!--</li>-->
                <li>
                    <a href="/web/admin/custompage.html">
                        <i class="icon-file-alt"></i>
                        <span class="menu-text"> 自定义页面 </span>
                    </a>
                </li>
                <!--<li>-->
                    <!--<a href="#" class="dropdown-toggle">-->
                        <!--<i class="icon-file-alt"></i>-->

								<!--<span class="menu-text">-->
									<!--其他页面-->
									<!--<span class="badge badge-primary ">0</span>-->
								<!--</span>-->

                        <!--<b class="arrow icon-angle-down"></b>-->
                    <!--</a>-->

                    <!--<ul class="submenu">-->
                        <!--<li>-->
                            <!--<a href="faq.html">-->
                                <!--<i class="icon-double-angle-right"></i>-->
                                <!--预留1-->
                            <!--</a>-->
                        <!--</li>-->

                        <!--<li>-->
                            <!--<a href="error-404.html">-->
                                <!--<i class="icon-double-angle-right"></i>-->
                                <!--预留2-->
                            <!--</a>-->
                        <!--</li>-->

                        <!--<li>-->
                            <!--<a href="error-500.html">-->
                                <!--<i class="icon-double-angle-right"></i>-->
                                <!--预留3-->
                            <!--</a>-->
                        <!--</li>-->
                    <!--</ul>-->
                <!--</li>-->

            </ul><!-- /.nav-list -->

            <div class="sidebar-collapse" id="sidebar-collapse">
                <i class="icon-double-angle-left" data-icon1="icon-double-angle-left" data-icon2="icon-double-angle-right"></i>
            </div>

            <script type="text/javascript">
                try{ace.settings.check('sidebar' , 'collapsed')}catch(e){}
            </script>
        </div>

        <@block name="main"></@block>

        <div class="ace-settings-container" id="ace-settings-container">


        </div><!-- /#ace-settings-container -->
    </div><!-- /.main-container-inner -->

    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
        <i class="icon-double-angle-up icon-only bigger-110"></i>
    </a>
</div><!-- /.main-container -->

<!-- basic scripts -->


<!--[if !IE]> -->

<script type="text/javascript">
    window.jQuery || document.write("<script src='/assets/js/jquery-2.0.3.min.js'>"+"<"+"script>");
</script>

<!-- <![endif]-->

<!--[if IE]>
<script type="text/javascript">
    window.jQuery || document.write("<script src='/assets/js/jquery-1.10.2.min.js'>"+"<"+"script>");
</script>
<![endif]-->

<script type="text/javascript">
    if("ontouchend" in document) document.write("<script src='/assets/js/jquery.mobile.custom.min.js'>"+"<"+"script>");
</script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/typeahead-bs2.min.js"></script>

<!-- page specific plugin scripts -->
<script src="/assets/js/jquery-ui-1.10.3.custom.min.js"></script>
<script src="/assets/js/jquery.ui.touch-punch.min.js"></script>
<script src="/assets/js/markdown/markdown.min.js"></script>
<script src="/assets/js/markdown/bootstrap-markdown.min.js"></script>
<script src="/assets/js/jquery.hotkeys.min.js"></script>
<script src="/assets/js/bootstrap-wysiwyg.min.js"></script>
<script src="/assets/js/bootbox.min.js"></script>

<script src="/assets/js/jquery.slimscroll.min.js"></script>
<script src="/assets/js/jquery.easy-pie-chart.min.js"></script>
<script src="/assets/js/jquery.sparkline.min.js"></script>
<script src="/assets/js/flot/jquery.flot.min.js"></script>
<script src="/assets/js/flot/jquery.flot.pie.min.js"></script>
<script src="/assets/js/flot/jquery.flot.resize.min.js"></script>

<!-- ace scripts -->

<script src="/assets/js/ace-elements.min.js"></script>
<script src="/assets/js/ace.min.js"></script>

<@block name="js"></@block>
<!-- inline scripts related to this page -->

<@block name="jsb"></@block>


</body>
</html>