<div  class="footer">
    <div class="foottitle"></div>
    <div class="content">
        <div class="ewm">
            <div>
                <span>欢迎关注</span>
                <span>Welcome Attention</span>
            </div>
            <img src="/uimg/weixin.jpg">
        </div>
        <div class="aboutus">
            <div>
                <span>关于我们</span>
                <span>About Us</span>
            </div>
            <div style="padding-top: 10px;">
                <span class="mc" style="font-size: 18px;">上海世佳义齿有限公司</span>
                <span class="mc" style="font-size: 16px;">SHANGHAI SHIJIA DENTAL CO.LTD</span>
                <span class="mc" style="font-size: 18px;">上海世家美植学工作室</span>
                <span class="mc" style="font-size: 16px;">SHANGHAISHIJIA ESTHETIC IMPLANT STUDIO</span>
                <span class="mc" style="font-size: 18px;margin-top: 5px;">沪食药监械生产许20091729号</span>
                <span class="mc" style="font-size: 18px;">沪械注准20142630059</span>
                <span class="mc" style="font-size: 18px;">沪械注准20142630006</span>
            </div>
        </div>
        <div class="contactus">
            <div>
                <span>联系我们</span>
                <span>Contact Us</span>
            </div>
            <div style="padding-top: 10px;">
                <span class="mc" style="font-size: 18px;margin-top: 4px;">地址：上海市松江区新桥镇新飞路1505号D栋</span>
                <span class="mc" style="font-size: 18px;margin-top: 4px;">电话：021-67676138</span>
                <span class="mc" style="font-size: 18px;margin-top: 4px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;021-67676138</span>
                <span class="mc" style="font-size: 18px;margin-top: 4px;">手机：18116403116</span>
                <span class="mc" style="font-size: 18px;margin-top: 4px;">传真：021-67671019</span>
                <span class="mc" style="font-size: 18px;margin-top: 4px;">咨询：13813687198</span>

            </div>
        </div>
    </div>
    <div class="foottail">
        <span style="display: block;width:100%;text-align:center;height:50px;line-height: 50px; font-family: 微软雅黑; margin: 0 auto; color:#a8a8a8; font-size: 100%; ">上海世佳义齿有限公司 | Copyright 2016-~ All Rights Reserved </span>
    </div>
</div>
