<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shijia.web.repository.mapper.ShijiaWebMapper">

    <resultMap type="ProductShow" id="ProductShowMap">
        <result property="id" column="id"/>
        <result property="productName" column="product_name"/>
        <result property="productId" column="product_id"/>
        <result property="productClassify" column="product_classify"/>
        <result property="productType" column="product_type"/>
        <result property="comefrom" column="comefrom"/>
        <result property="author" column="author"/>
        <result property="content" column="content"/>
        <result property="showCount" column="show_count"/>
        <result property="createTime" column="createtime"/>
        <result property="lastModifyTime" column="lastmodifytime"/>
        <result property="isDelete" column="is_delete"/>
    </resultMap>

    <!-- create -->
    <insert id="addProductShow" parameterType="com.shijia.web.repository.mapper.domain.ProductShow">
        INSERT INTO
		product_show
		(product_name,product_id,product_classify,product_type,comefrom,author,content,show_count,createtime,lastmodifytime,is_delete)
		VALUES
		(#{productName},#{productId},#{productClassify},#{productType},#{comefrom},#{author},#{content},#{showCount},#{createTime},#{lastModifyTime},#{isDelete})
    </insert>
    <!-- select -->
    <!-- update -->

    <resultMap type="ProductType" id="ProductTypeMap">
        <result property="id" column="id"/>
        <result property="typeName" column="type_name"/>
        <result property="productId" column="product_id"/>
        <result property="createTime" column="createtime"/>
        <result property="lastModifyTime" column="lastmodifytime"/>
        <result property="lastModifyPeople" column="lastmodifypeople"/>
    </resultMap>
    <!-- create -->
    <insert id="addProductType" parameterType="com.shijia.web.repository.mapper.domain.ProductType">
        INSERT INTO
        product_show
        (type_name,product_id,createtime,lastmodifytime,lastmodifypeople)
        VALUES
        (#{typeName},#{productId},#{createTime},#{lastModifyTime},#{lastModifyPeople})
    </insert>
    <!-- select -->
    <!-- update -->

    <resultMap type="NewsShow" id="NewsShowMap">
        <result property="id" column="id"/>
        <result property="newsName" column="news_name"/>
        <result property="newsType" column="news_type"/>
        <result property="comefrom" column="comefrom"/>
        <result property="author" column="author"/>
        <result property="content" column="content"/>
        <result property="showCount" column="show_count"/>
        <result property="createTime" column="createtime"/>
        <result property="lastModifyTime" column="lastmodifytime"/>
        <result property="isDelete" column="is_delete"/>
    </resultMap>
    <!-- create -->
    <insert id="addNewsShow" parameterType="com.shijia.web.repository.mapper.domain.NewsShow">
        INSERT INTO
        product_show
        (news_name,news_type,comefrom,author,content,show_count,createtime,lastmodifytime,is_delete)
        VALUES
        (#{newName},#{newsType},#{comefrom},#{author},#{content},#{showCount},#{createTime},#{lastModifyTime},#{isDelete})
    </insert>
    <!-- select -->
    <!-- update -->


</mapper>