<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <title>${m_title}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/uimg/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/ucss/websitecss.css">
</head>
<body style="margin: 0px;">
   <div style="width: 100%;height: 100px;"></div>
   <div class="common_div" style="background-color:  #d9d9d9"></div>
   <div class="common_div"></div>
   <div class="common_div" style="background-color: #00ffff"></div>
   <div class="common_div"></div>
   <div class="common_div"></div>
   <div class="common_div"></div>

</body>
</html>