
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <title>${m_title}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/uimg/favicon.ico" />
    <link rel="stylesheet" rev="stylesheet" href="/ucss/bootstrap.min.css" type="text/css" media="all" />
    <link rel="stylesheet" type="text/css" href="/ucss/websitecss.css">
    <link rel="stylesheet" type="text/css" href="/ucss/common.css">

    <style>
        html,body{
            overflow: hidden;
        }
    </style>
</head>
<body style="margin: 0px; padding:0px;">

<div class="header_on" >
    <img src="/uimg/logo2.png" >
    <div>
        <a href="/shijia/index.html">首页</a>
        <a href="/shijia/companyinfo/gsjj.html" style="color: #4cc2c4">公司简介</a>
        <a>产品展示</a>
        <a>专业团队</a>
        <a>医技沟通</a>
        <a>质量保障</a>
        <a>联系我们</a>
    </div>
</div>

<div class="common_wrap">
    <div class="common_div" style="background-color:  #4cc2c4"></div>
    <div class="common_div"></div>
    <div class="common_div" style="background-color: #00ffff"></div>
    <div class="common_div" style="background-color:  #ee1e2d"></div>
    <div class="common_div" style="background-color:  #ee0"></div>
    <div class="common_div" style="background-color:  #e00"></div>

    <@extends name="./common/master_user_tail.html"/>
</div>


<ol class="scoll_bar">
    <li class="active"><a data-index="0"><span class="dot"></span></a></li>
    <li><a data-index="1"><span class="dot"></span></a></li>
    <li><a data-index="2"><span class="dot"></span></a></li>
    <li><a data-index="3"><span class="dot"></span></a></li>
    <li><a data-index="4"><span class="dot"></span></a></li>
    <li><a data-index="5"><span class="dot"></span></a></li>
</ol>


<script type="text/javascript" src="/ujs/jquery-2.2.4.min.js"></script>
<script type="text/javascript" src="/ujs/common.js"></script>
<script type="text/javascript" src="/ujs/companyinfoCtr.js"></script>
</body>
</html>