<@override name="css">
</@override> <@override name="main">
<div class="main-content">
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try {
                ace.settings.check('breadcrumbs', 'fixed')
            } catch (e) {
            }
        </script>

        <ul class="breadcrumb">
            <li>
                <i class="icon-home home-icon"></i>
                <a href="#">首页</a>
            </li>

            <li>
                <a href="#">产品展示</a>
            </li>
        </ul>
        <!-- .breadcrumb -->

        <!--<div class="nav-search" id="nav-search">-->
            <!--<form class="form-search">-->
								<!--<span class="input-icon">-->
									<!--<input type="text" placeholder="Search ..." class="nav-search-input"-->
                                           <!--id="nav-search-input" autocomplete="off">-->
									<!--<i class="icon-search nav-search-icon"></i>-->
								<!--</span>-->
            <!--</form>-->
        <!--</div>-->
        <!-- #nav-search -->
    </div>

    <div class="page-content">
        <div class="col-xs-12" id="productShowTable">
            <div class="table-header" style="height:42px;">
                已添加所有产品列表
                <a href="productedit.html" class="btn btn-info" style="float:right;">
                    <i class="icon-pencil">新增</i>
                </a>
            </div>

            <div class="table-responsive">
                <div id="sample-table-2_wrapper" class="dataTables_wrapper" role="grid">
                    <div class="row">
                        <div class="col-sm-3">
                            <label class=""> 产品类型：
                                <select class="" id="siteId">
                                    <option value='1'>世佳</option>
                                    <option value='2'>贝艺</option>
                                </select>
                            </label>
                        </div>
                        <div class="col-sm-3">
                            <label class=""> 产品类型：
                                <select class="" id="product_type_list">
                                </select>
                            </label>
                        </div>
                        <div class="col-sm-6">
                            <!--<div class="dataTables_filter" id="sample-table-2_filter"><label>Search: <input type="text"-->
                                                                                                            <!--aria-controls="sample-table-2"></label>-->
                            <!--</div>-->
                        </div>
                    </div>
                    <table id="sample-table-2" class="table table-striped table-bordered table-hover dataTable"
                           aria-describedby="sample-table-2_info">
                        <thead>
                        <tr role="row">
                            <th class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="
														" style="width: 47px;">
                                <label>
                                    <input type="checkbox" class="ace">
                                    <span class="lbl"></span>
                                </label>
                            </th>
                            <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2"
                                rowspan="1" colspan="1" aria-label="Domain: activate to sort column ascending"
                                style="width: 153px;">产品名称
                            </th>
                            <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2"
                                rowspan="1" colspan="1" aria-label="Price: activate to sort column ascending"
                                style="width: 120px;">产品编号
                            </th>
                            <th class="hidden-480 sorting" role="columnheader" tabindex="0"
                                aria-controls="sample-table-2" rowspan="1" colspan="1"
                                aria-label="Clicks: activate to sort column ascending" style="width: 120px;">阅读次数
                            </th>
                            <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2"
                                rowspan="1" colspan="1" aria-label="Update: activate to sort column ascending"
                                style="width: 157px;">
                                <i class="icon-time bigger-110 hidden-480"></i>
                                创建时间
                            </th>
                            <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2"
                                rowspan="1" colspan="1" aria-label="Update: activate to sort column ascending"
                                style="width: 177px;">
                                <i class="icon-time bigger-110 hidden-480"></i>
                                最后编辑时间
                            </th>
                            <th class="hidden-480 sorting" role="columnheader" tabindex="0"
                                aria-controls="sample-table-2" rowspan="1" colspan="1"
                                aria-label="Status: activate to sort column ascending" style="width: 148px;">是否已删除
                            </th>
                            <th class="hidden-480 sorting" role="columnheader" tabindex="0"
                                aria-controls="sample-table-2" rowspan="1" colspan="1"
                                aria-label="Status: activate to sort column ascending" style="width: 148px;">来源
                            </th>
                            <th class="hidden-480 sorting" role="columnheader" tabindex="0"
                                aria-controls="sample-table-2" rowspan="1" colspan="1"
                                aria-label="Status: activate to sort column ascending" style="width: 148px;">作者
                            </th>
                            <th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label=""
                                style="width: 142px;"></th>
                        </tr>
                        </thead>
                        <tbody id="product_show_tbody" role="alert" aria-live="polite" aria-relevant="all">
                        <!-- 表格内容 -->
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="dataTables_info" id="showTotal"></div>
                        </div>
                        <div class="col-sm-6">
                            <div class="dataTables_paginate paging_bootstrap">
                                <ul class="pagination">
                                    <li class="prev disabled"><a href="#"><i class="icon-double-angle-left"></i></a>
                                    </li>
                                    <li class="active"><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li class="next"><a href="#"><i class="icon-double-angle-right"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.page-content -->
</div>
</@override>
<@override name="js">
<script type="text/javascript" src="/ajs/productshow.js"></script>
</@override> <@extends name="./common/master_admin.html"/>
