<@override name="css">
</@override> <@override name="main">
<div class="main-content">
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try {
                ace.settings.check('breadcrumbs', 'fixed')
            } catch (e) {
            }
        </script>

        <ul class="breadcrumb">
            <li>
                <i class="icon-home home-icon"></i>
                <a href="#">首页</a>
            </li>
            <li class="active">新增产品</li>
        </ul>
        <!-- .breadcrumb -->
    </div>

    <div class="page-content">
        <!-- /.page-header -->
        <input hidden="hidden" value="${id}" id="productLogicId">
        <div id="edit_conditions">
            <div class="col-sm-12">
                <label class="col-sm-6"><span class="col-sm-3"><span style="color:red;">*</span> 产品类型：</span>
                    <select class="" id="product_type_list">
                    </select>
                </label>
            </div>
            <div class="col-sm-12">
                <label class="col-sm-6"><span class="col-sm-3"><span style="color:red;">*</span>来源：</span>
                    <select class="" id="comefrom">
                        <option value='原创'>原创</option>
                        <option value='转载'>转载</option>
                        <option value='宣传'>宣传</option>
                    </select>
                </label>
            </div>
            <div class="col-sm-12">
                <label class="col-sm-6"><span class="col-sm-3"><span style="color:red;">*</span>产品名称:</span> <input
                        type="text" aria-controls="example" id="productName"></label>
            </div>
            <div class="col-sm-12">
                <label class="col-sm-6"><span class="col-sm-3"><span style="color:red;">*</span>产品id:</span> <input type="text" aria-controls="example" id="productId"></label>
            </div>
            <div class="col-sm-12">
                <label class="col-sm-6"><span class="col-sm-3"><span style="color:red;">*</span>作者:</span> <input
                        type="text" aria-controls="example" id="author"></label>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <!-- PAGE CONTENT BEGINS -->

                <h4 class="header green clearfix">
                    <!-- 编辑器风格 -->
                </h4>

                <div class="wysiwyg-editor" id="editor1" contenteditable="true"></div>

                <div class="hr hr-double dotted"></div>

                <script type="text/javascript">
                    var $path_assets = "assets";//this will be used in loading jQuery UI if needed!
                </script>

                <!-- PAGE CONTENT ENDS -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
        <div class="row">
            <button class="btn btn-info" id="submit">提交</button>
        </div>
    </div>
    <!-- /.page-content -->
</div>
</@override>
<@override name="js">
<!-- inline scripts related to this page -->

<script type="text/javascript" src="/ajs/productedit.js"></script>
</@override> <@extends name="./common/master_admin.html"/>
