<@override name="css">
</@override> <@override name="main">
<div class="main-content">
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try {
                ace.settings.check('breadcrumbs', 'fixed')
            } catch (e) {
            }
        </script>

        <ul class="breadcrumb">
            <li>
                <i class="icon-home home-icon"></i>
                <a href="#">首页</a>
            </li>
            <li class="active">编辑</li>
        </ul>
        <!-- .breadcrumb -->

        <div class="nav-search" id="nav-search">
            <form class="form-search">
								<span class="input-icon">
									<input type="text" placeholder="Search ..." class="nav-search-input"
                                           id="nav-search-input" autocomplete="off">
									<i class="icon-search nav-search-icon"></i>
								</span>
            </form>
        </div>
        <!-- #nav-search -->
    </div>

    <div class="page-content">
        <!-- /.page-header -->
        <div id="edit_conditions">
            <!-- 一些选择项 -->
            <div class="">
                <span>产品类型：</span>
                <div class="btn-group">
                    <button data-toggle="dropdown" class="btn dropdown-toggle">
                        <span class="icon-caret-down icon-on-right"></span>
                    </button>

                    <ul class="dropdown-menu dropdown-default" id="product_type_list">

                        <!--<li class="divider"></li>-->

                    </ul>
                </div>
                <!-- /btn-group -->
                <span>来源：</span>
                <div class="btn-group">
                    <button data-toggle="dropdown" class="btn dropdown-toggle">

                        <span class="icon-caret-down icon-on-right"></span>
                    </button>

                    <ul class="dropdown-menu dropdown-default">
                        <li>
                            <a href="#">转载</a>
                        </li>

                        <li>
                            <a href="#">原创</a>
                        </li>

                        <li>
                            <a href="#">宣传</a>
                        </li>
                    </ul>
                </div>
                <!-- /btn-group -->
            </div>
            <div style="top:10px;">
                <span>产品名称：</span>
                <input id="tags" type="text" class="ui-autocomplete-input" autocomplete="off">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <!-- PAGE CONTENT BEGINS -->

                <h4 class="header green clearfix">
                    <!-- 编辑器风格 -->
                </h4>

                <div class="wysiwyg-editor" id="editor1" contenteditable="true"></div>

                <div class="hr hr-double dotted"></div>

                <script type="text/javascript">
                    var $path_assets = "assets";//this will be used in loading jQuery UI if needed!
                </script>

                <!-- PAGE CONTENT ENDS -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.page-content -->
</div>
</@override>
<@override name="js">
<!-- inline scripts related to this page -->

<script type="text/javascript" src="/ajs/productedit.js"></script>
</@override> <@extends name="./common/master_admin.html"/>
