<@override name="css">
</@override> <@override name="main">
<div class="main-content">
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try {
                ace.settings.check('breadcrumbs', 'fixed')
            } catch (e) {
            }
        </script>

        <ul class="breadcrumb">
            <li>
                <i class="icon-home home-icon"></i>
                <a href="#">首页</a>
            </li>
            <li class="active">编辑</li>
        </ul>
        <!-- .breadcrumb -->

        <div class="nav-search" id="nav-search">
            <form class="form-search">
								<span class="input-icon">
									<input type="text" placeholder="Search ..." class="nav-search-input"
                                           id="nav-search-input" autocomplete="off">
									<i class="icon-search nav-search-icon"></i>
								</span>
            </form>
        </div>
        <!-- #nav-search -->
    </div>

    <div class="page-content">
        <!-- /.page-header -->

        <div class="row">
            <div class="col-xs-12">
                <!-- PAGE CONTENT BEGINS -->

                <h4 class="header green clearfix">

									<span class="block" style="float:left;">
                                        <span>编辑器风格</span>
										<small class="grey middle">: &nbsp;</small>

										<span class="btn-toolbar inline middle no-margin">
											<span data-toggle="buttons" class="btn-group no-margin">
												<label class="btn btn-sm btn-yellow">
                                                    1
                                                    <input type="radio" value="1">
                                                </label>

												<label class="btn btn-sm btn-yellow">
                                                    2
                                                    <input type="radio" value="2">
                                                </label>

												<label class="btn btn-sm btn-yellow active">
                                                    3
                                                    <input type="radio" value="3">
                                                </label>
											</span>
										</span>
									</span>
                </h4>

                <!--<div class="wysiwyg-toolbar btn-toolbar center   ">-->
                    <!--<div class="btn-group"><a class="btn btn-sm  dropdown-toggle" data-toggle="dropdown" title=""-->
                                              <!--data-original-title="Font"><i class="icon-font"></i><i-->
                            <!--class="icon-angle-down icon-on-right"></i></a>-->
                        <!--<ul class="dropdown-menu dropdown-light">-->
                            <!--<li><a data-edit="fontName Arial" style="font-family:'Arial'">Arial</a></li>-->
                            <!--<li><a data-edit="fontName Courier" style="font-family:'Courier'">Courier</a></li>-->
                            <!--<li><a data-edit="fontName Comic Sans MS" style="font-family:'Comic Sans MS'">Comic Sans-->
                                <!--MS</a></li>-->
                            <!--<li><a data-edit="fontName Helvetica" style="font-family:'Helvetica'">Helvetica</a></li>-->
                            <!--<li><a data-edit="fontName Open Sans" style="font-family:'Open Sans'">Open Sans</a></li>-->
                            <!--<li><a data-edit="fontName Tahoma" style="font-family:'Tahoma'">Tahoma</a></li>-->
                            <!--<li><a data-edit="fontName Verdana" style="font-family:'Verdana'">Verdana</a></li>-->
                        <!--</ul>-->
                    <!--</div>-->
                    <!--<div class="btn-group"><a class="btn btn-sm  dropdown-toggle" data-toggle="dropdown" title=""-->
                                              <!--data-original-title="Font Size"><i class="icon-text-height"></i>&nbsp;<i-->
                            <!--class="icon-angle-down icon-on-right"></i></a>-->
                        <!--<ul class="dropdown-menu dropdown-light">-->
                            <!--<li><a data-edit="fontSize 1"><font size="1">Small</font></a></li>-->
                            <!--<li><a data-edit="fontSize 3"><font size="3">Normal</font></a></li>-->
                            <!--<li><a data-edit="fontSize 5"><font size="5">Huge</font></a></li>-->
                        <!--</ul>-->
                    <!--</div>-->
                    <!--<div class="btn-group"><a class="btn btn-sm btn-info" data-edit="bold" title=""-->
                                              <!--data-original-title="Bold (Ctrl/Cmd+B)"><i class="icon-bold"></i></a> <a-->
                            <!--class="btn btn-sm btn-info" data-edit="italic" title=""-->
                            <!--data-original-title="Italic (Ctrl/Cmd+I)"><i class="icon-italic"></i></a> <a-->
                            <!--class="btn btn-sm btn-info" data-edit="strikethrough" title=""-->
                            <!--data-original-title="Strikethrough"><i class="icon-strikethrough"></i></a> <a-->
                            <!--class="btn btn-sm btn-info" data-edit="underline" title=""-->
                            <!--data-original-title="Underline"><i class="icon-underline"></i></a></div>-->
                    <!--<div class="btn-group"><a class="btn btn-sm btn-success" data-edit="insertunorderedlist" title=""-->
                                              <!--data-original-title="Bullet list"><i class="icon-list-ul"></i></a> <a-->
                            <!--class="btn btn-sm btn-success" data-edit="insertorderedlist" title=""-->
                            <!--data-original-title="Number list"><i class="icon-list-ol"></i></a> <a-->
                            <!--class="btn btn-sm btn-purple" data-edit="outdent" title=""-->
                            <!--data-original-title="Reduce indent (Shift+Tab)"><i class="icon-indent-left"></i></a> <a-->
                            <!--class="btn btn-sm btn-purple" data-edit="indent" title=""-->
                            <!--data-original-title="Indent (Tab)"><i class="icon-indent-right"></i></a></div>-->
                    <!--<div class="btn-group"><a class="btn btn-sm btn-primary active" data-edit="justifyleft" title=""-->
                                              <!--data-original-title="Align Left (Ctrl/Cmd+L)"><i-->
                            <!--class="icon-align-left"></i></a> <a class="btn btn-sm btn-primary" data-edit="justifycenter"-->
                                                                <!--title="" data-original-title="Center (Ctrl/Cmd+E)"><i-->
                            <!--class="icon-align-center"></i></a> <a class="btn btn-sm btn-primary"-->
                                                                  <!--data-edit="justifyright" title=""-->
                                                                  <!--data-original-title="Align Right (Ctrl/Cmd+R)"><i-->
                            <!--class="icon-align-right"></i></a> <a class="btn btn-sm btn-inverse" data-edit="justifyfull"-->
                                                                 <!--title="" data-original-title="Justify (Ctrl/Cmd+J)"><i-->
                            <!--class="icon-align-justify"></i></a></div>-->
                    <!--<div class="btn-group">-->
                        <!--<div class="inline position-relative"><a class="btn btn-sm btn-pink dropdown-toggle"-->
                                                                 <!--data-toggle="dropdown" title=""-->
                                                                 <!--data-original-title="Hyperlink"><i-->
                                <!--class="icon-link"></i></a>-->

                            <!--<div class="dropdown-menu dropdown-caret pull-right">-->
                                <!--<div class="input-group"><input class="form-control" placeholder="URL" type="text"-->
                                                                <!--data-edit="createLink"> <span class="input-group-btn">									<button-->
                                        <!--class="btn btn-sm btn-primary" type="button">Add-->
                                <!--</button>								</span></div>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<a class="btn btn-sm btn-pink" data-edit="unlink" title=""-->
                           <!--data-original-title="Remove Hyperlink"><i class="icon-unlink"></i></a></div>-->
                    <!--<div class="btn-group">-->
                        <!--<div class="inline position-relative"><a class="btn btn-sm btn-success dropdown-toggle"-->
                                                                 <!--data-toggle="dropdown" title=""-->
                                                                 <!--data-original-title="Insert picture"><i-->
                                <!--class="icon-picture"></i></a>-->

                            <!--<div class="dropdown-menu dropdown-caret pull-right">-->
                                <!--<div class="input-group"><input class="form-control" placeholder="Image URL" type="text"-->
                                                                <!--data-edit="insertImage"> <span class="input-group-btn">									<button-->
                                        <!--class="btn btn-sm btn-primary" type="button">Insert-->
                                <!--</button>								</span></div>-->
                                <!--<div class="space-2"></div>-->
                                <!--<div class="center">-->
                                    <!--<button class="btn btn-sm btn-success wysiwyg-choose-file" type="button"><i-->
                                            <!--class="icon-file"></i> Choose Image …-->
                                    <!--</button>-->
                                    <!--<input type="file" data-edit="insertImage"></div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="btn-group"><select class="hide wysiwyg_colorpicker" title="Change Color"-->
                                                   <!--style="display: none;">-->
                        <!--<option value="#ac725e">#ac725e</option>-->
                        <!--<option value="#d06b64">#d06b64</option>-->
                        <!--<option value="#f83a22">#f83a22</option>-->
                        <!--<option value="#fa573c">#fa573c</option>-->
                        <!--<option value="#ff7537">#ff7537</option>-->
                        <!--<option value="#ffad46">#ffad46</option>-->
                        <!--<option value="#42d692">#42d692</option>-->
                        <!--<option value="#16a765">#16a765</option>-->
                        <!--<option value="#7bd148">#7bd148</option>-->
                        <!--<option value="#b3dc6c">#b3dc6c</option>-->
                        <!--<option value="#fbe983">#fbe983</option>-->
                        <!--<option value="#fad165">#fad165</option>-->
                        <!--<option value="#92e1c0">#92e1c0</option>-->
                        <!--<option value="#9fe1e7">#9fe1e7</option>-->
                        <!--<option value="#9fc6e7">#9fc6e7</option>-->
                        <!--<option value="#4986e7">#4986e7</option>-->
                        <!--<option value="#9a9cff">#9a9cff</option>-->
                        <!--<option value="#b99aff">#b99aff</option>-->
                        <!--<option value="#c2c2c2">#c2c2c2</option>-->
                        <!--<option value="#cabdbf">#cabdbf</option>-->
                        <!--<option value="#cca6ac">#cca6ac</option>-->
                        <!--<option value="#f691b2">#f691b2</option>-->
                        <!--<option value="#cd74e6">#cd74e6</option>-->
                        <!--<option value="#a47ae2">#a47ae2</option>-->
                        <!--<option value="#444444">#444444</option>-->
                    <!--</select>-->

                        <!--<div class="dropdown dropdown-colorpicker"><a data-toggle="dropdown" class="dropdown-toggle"-->
                                                                      <!--href="#"><span class="btn-colorpicker"-->
                                                                                     <!--style="background-color:#ac725e"-->
                                                                                     <!--data-original-title=""-->
                                                                                     <!--title=""></span></a>-->
                            <!--<ul class="dropdown-menu dropdown-caret pull-right">-->
                                <!--<li><a class="colorpick-btn selected" href="#" style="background-color:#ac725e;"-->
                                       <!--data-color="#ac725e"></a></li>-->
                                <!--<li><a class="colorpick-btn" href="#" style="background-color:#d06b64;"-->
                                       <!--data-color="#d06b64"></a></li>-->
                                <!--<li><a class="colorpick-btn" href="#" style="background-color:#f83a22;"-->
                                       <!--data-color="#f83a22"></a></li>-->
                                <!--<li><a class="colorpick-btn" href="#" style="background-color:#fa573c;"-->
                                       <!--data-color="#fa573c"></a></li>-->
                                <!--<li><a class="colorpick-btn" href="#" style="background-color:#ff7537;"-->
                                       <!--data-color="#ff7537"></a></li>-->
                                <!--<li><a class="colorpick-btn" href="#" style="background-color:#ffad46;"-->
                                       <!--data-color="#ffad46"></a></li>-->
                                <!--<li><a class="colorpick-btn" href="#" style="background-color:#42d692;"-->
                                       <!--data-color="#42d692"></a></li>-->
                                <!--<li><a class="colorpick-btn" href="#" style="background-color:#16a765;"-->
                                       <!--data-color="#16a765"></a></li>-->
                                <!--<li><a class="colorpick-btn" href="#" style="background-color:#7bd148;"-->
                                       <!--data-color="#7bd148"></a></li>-->
                                <!--<li><a class="colorpick-btn" href="#" style="background-color:#b3dc6c;"-->
                                       <!--data-color="#b3dc6c"></a></li>-->
                                <!--<li><a class="colorpick-btn" href="#" style="background-color:#fbe983;"-->
                                       <!--data-color="#fbe983"></a></li>-->
                                <!--<li><a class="colorpick-btn" href="#" style="background-color:#fad165;"-->
                                       <!--data-color="#fad165"></a></li>-->
                                <!--<li><a class="colorpick-btn" href="#" style="background-color:#92e1c0;"-->
                                       <!--data-color="#92e1c0"></a></li>-->
                                <!--<li><a class="colorpick-btn" href="#" style="background-color:#9fe1e7;"-->
                                       <!--data-color="#9fe1e7"></a></li>-->
                                <!--<li><a class="colorpick-btn" href="#" style="background-color:#9fc6e7;"-->
                                       <!--data-color="#9fc6e7"></a></li>-->
                                <!--<li><a class="colorpick-btn" href="#" style="background-color:#4986e7;"-->
                                       <!--data-color="#4986e7"></a></li>-->
                                <!--<li><a class="colorpick-btn" href="#" style="background-color:#9a9cff;"-->
                                       <!--data-color="#9a9cff"></a></li>-->
                                <!--<li><a class="colorpick-btn" href="#" style="background-color:#b99aff;"-->
                                       <!--data-color="#b99aff"></a></li>-->
                                <!--<li><a class="colorpick-btn" href="#" style="background-color:#c2c2c2;"-->
                                       <!--data-color="#c2c2c2"></a></li>-->
                                <!--<li><a class="colorpick-btn" href="#" style="background-color:#cabdbf;"-->
                                       <!--data-color="#cabdbf"></a></li>-->
                                <!--<li><a class="colorpick-btn" href="#" style="background-color:#cca6ac;"-->
                                       <!--data-color="#cca6ac"></a></li>-->
                                <!--<li><a class="colorpick-btn" href="#" style="background-color:#f691b2;"-->
                                       <!--data-color="#f691b2"></a></li>-->
                                <!--<li><a class="colorpick-btn" href="#" style="background-color:#cd74e6;"-->
                                       <!--data-color="#cd74e6"></a></li>-->
                                <!--<li><a class="colorpick-btn" href="#" style="background-color:#a47ae2;"-->
                                       <!--data-color="#a47ae2"></a></li>-->
                                <!--<li><a class="colorpick-btn" href="#" style="background-color:#444444;"-->
                                       <!--data-color="#444444"></a></li>-->
                            <!--</ul>-->
                        <!--</div>-->
                        <!--<input style="display:none;" disabled="" class="hide" type="text" data-edit="foreColor"></div>-->
                    <!--<div class="btn-group"><a class="btn btn-sm btn-grey" data-edit="undo" title=""-->
                                              <!--data-original-title="Undo (Ctrl/Cmd+Z)"><i class="icon-undo"></i></a> <a-->
                            <!--class="btn btn-sm btn-grey" data-edit="redo" title=""-->
                            <!--data-original-title="Redo (Ctrl/Cmd+Y)"><i class="icon-repeat"></i></a></div>-->
                <!--</div>-->
                <div class="wysiwyg-editor" id="editor1" contenteditable="true" ></div>

                <div class="hr hr-double dotted"></div>


                <script type="text/javascript">
                    var $path_assets = "assets";//this will be used in loading jQuery UI if needed!
                </script>

                <!-- PAGE CONTENT ENDS -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.page-content -->
</div>
</@override>
<@override name="js">
<!-- inline scripts related to this page -->

<script type="text/javascript">
    jQuery(function($){

        function showErrorAlert (reason, detail) {
            var msg='';
            if (reason==='unsupported-file-type') { msg = "Unsupported format " +detail; }
            else {
                console.log("error uploading file", reason, detail);
            }
            $('<div class="alert"> <button type="button" class="close" data-dismiss="alert">&times;</button>'+
                    '<strong>File upload error</strong> '+msg+' </div>').prependTo('#alerts');
        }

        //$('#editor1').ace_wysiwyg();//this will create the default editor will all buttons

        //but we want to change a few buttons colors for the third style
        $('#editor1').ace_wysiwyg({
            toolbar:
                    [
                        'font',
                        null,
                        'fontSize',
                        null,
                        {name:'bold', className:'btn-info'},
                        {name:'italic', className:'btn-info'},
                        {name:'strikethrough', className:'btn-info'},
                        {name:'underline', className:'btn-info'},
                        null,
                        {name:'insertunorderedlist', className:'btn-success'},
                        {name:'insertorderedlist', className:'btn-success'},
                        {name:'outdent', className:'btn-purple'},
                        {name:'indent', className:'btn-purple'},
                        null,
                        {name:'justifyleft', className:'btn-primary'},
                        {name:'justifycenter', className:'btn-primary'},
                        {name:'justifyright', className:'btn-primary'},
                        {name:'justifyfull', className:'btn-inverse'},
                        null,
                        {name:'createLink', className:'btn-pink'},
                        {name:'unlink', className:'btn-pink'},
                        null,
                        {name:'insertImage', className:'btn-success'},
                        null,
                        'foreColor',
                        null,
                        {name:'undo', className:'btn-grey'},
                        {name:'redo', className:'btn-grey'}
                    ],
            'wysiwyg': {
                fileUploadError: showErrorAlert
            }
        }).prev().addClass('wysiwyg-style3');


        $('[data-toggle="buttons"] .btn').on('click', function(e){
            var target = $(this).find('input[type=radio]');
            var which = parseInt(target.val());
            var toolbar = $('#editor1').prev().get(0);
            if(which == 1 || which == 2 || which == 3) {
                toolbar.className = toolbar.className.replace(/wysiwyg\-style(1|2)/g , '');
                if(which == 1) $(toolbar).addClass('wysiwyg-style1');
                else if(which == 2) $(toolbar).addClass('wysiwyg-style2');
            }
        });




        //Add Image Resize Functionality to Chrome and Safari
        //webkit browsers don't have image resize functionality when content is editable
        //so let's add something using jQuery UI resizable
        //another option would be opening a dialog for user to enter dimensions.
        if ( typeof jQuery.ui !== 'undefined' && /applewebkit/.test(navigator.userAgent.toLowerCase()) ) {

            var lastResizableImg = null;
            function destroyResizable() {
                if(lastResizableImg == null) return;
                lastResizableImg.resizable( "destroy" );
                lastResizableImg.removeData('resizable');
                lastResizableImg = null;
            }

            var enableImageResize = function() {
                $('.wysiwyg-editor')
                        .on('mousedown', function(e) {
                            var target = $(e.target);
                            if( e.target instanceof HTMLImageElement ) {
                                if( !target.data('resizable') ) {
                                    target.resizable({
                                        aspectRatio: e.target.width / e.target.height,
                                    });
                                    target.data('resizable', true);

                                    if( lastResizableImg != null ) {//disable previous resizable image
                                        lastResizableImg.resizable( "destroy" );
                                        lastResizableImg.removeData('resizable');
                                    }
                                    lastResizableImg = target;
                                }
                            }
                        })
                        .on('click', function(e) {
                            if( lastResizableImg != null && !(e.target instanceof HTMLImageElement) ) {
                                destroyResizable();
                            }
                        })
                        .on('keydown', function() {
                            destroyResizable();
                        });
            }

            enableImageResize();

            /**
             //or we can load the jQuery UI dynamically only if needed
             if (typeof jQuery.ui !== 'undefined') enableImageResize();
             else {//load jQuery UI if not loaded
			$.getScript($path_assets+"/js/jquery-ui-1.10.3.custom.min.js", function(data, textStatus, jqxhr) {
				if('ontouchend' in document) {//also load touch-punch for touch devices
					$.getScript($path_assets+"/js/jquery.ui.touch-punch.min.js", function(data, textStatus, jqxhr) {
						enableImageResize();
					});
				} else	enableImageResize();
			});
		}
             */
        }


    });
</script>
</@override> <@extends name="./common/master_admin.html"/>
